@import url(media-queries/mobile.css);
@import url(media-queries/tablet.css);
@import url(media-queries/desktop.css);
@import url(components/table.css);


/* Global style rules for webpages */

header img{
    width: auto;    /* Image has been made flexible */
    height: auto;
}

nav{
    /* background-color: pink;
    border-top: solid 0.3em grey;
    border-bottom: solid 0.3em grey; */
    
    font-weight: bold;
    text-align: center;
}

nav ul{
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

nav ul li{
    list-style-type: none; /* removes bullet points fron unordered list*/

    background-color: aqua; /* creating more visible nav links for mobile users*/
    padding: 1em;
    min-width: 12%;
    margin: 0.25em;
    box-shadow: 0.5em 0.5em 0.5em purple;
}

nav ul li a {
    color: violet;
    text-decoration: none; /* removes underline from hyperlink */
}

figure{
    text-align: center;
    background-color: white;
}

figure img{ /* splitting main divs into three columns */
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: auto;
}

main{
    background-color: powderblue;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
    margin: 1em;
    padding: 1em;
}

footer {
    background-color: paleturquoise;
    border-top: solid 0.3em grey;
    color: gray;
}

/* For media queries */

main .row:after {
    content: "";
    display: table;
    clear: both;
}

main div .column {
    float: left;
}

main div .left {
    float: left;
    width: 20%;
    padding: 10px;
}

main div .center {
    padding: 10px;
    width: 35%;
}

main div .right {
    float: right;
    padding: 10px;
    width: 30%;
}
